flows/ASA_Create_CI_from_Approval-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_AccessConfigItem_Null</name>
        <label>Is AccessConfigItem Null?</label>
        <locationX>124</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>Update_Config_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccessConfigItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Config_Item</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <interviewLabel>ASA: Create CI from Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASA: Create CI from Approval</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Config_Item</name>
        <label>Create Config Item</label>
        <locationX>27</locationX>
        <locationY>300</locationY>
        <assignRecordIdToReference>AccessConfigItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>ASA_Application__c</field>
            <value>
                <elementReference>ASAApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASA_Approved_Date_Time__c</field>
            <value>
                <elementReference>ASA_ApprovedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASA_Approver_Name__c</field>
            <value>
                <elementReference>ASA_Approver_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASA_Record_Task__c</field>
            <value>
                <elementReference>ASARecordNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccessConfigItemName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Date_Time__c</field>
            <value>
                <elementReference>ReviewDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>ASAUserID</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Config_Item_for_ASA_Application_Access</name>
        <label>Lookup Config Item for ASA Application Access</label>
        <locationX>126</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_AccessConfigItem_Null</targetReference>
        </connector>
        <filters>
            <field>ASA_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASAApplicationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASAUserID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
        <outputAssignments>
            <assignToReference>AccessConfigItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Config_Item</name>
        <label>Update Config Item</label>
        <locationX>226</locationX>
        <locationY>301</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccessConfigItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASA_Application__c</field>
            <value>
                <elementReference>ASAApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASA_Approved_Date_Time__c</field>
            <value>
                <elementReference>ASA_ApprovedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASA_Approver_Name__c</field>
            <value>
                <elementReference>ASA_Approver_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASA_Record_Task__c</field>
            <value>
                <elementReference>ASARecordNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Date_Time__c</field>
            <value>
                <elementReference>ReviewDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>ASAUserID</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Config_Item_for_ASA_Application_Access</startElementReference>
    <variables>
        <name>AccessConfigItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccessConfigItemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASA_ApprovedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASA_Approver_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASAApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASARecordNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASAUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReviewDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
