flows/Change_Request_Flow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>DBI_TBI_Request</name>
        <choiceText>DBI/TBI Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DBI/TBI Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emergency</name>
        <choiceText>Emergency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emergency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Major</name>
        <choiceText>Major</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Major</stringValue>
        </value>
    </choices>
    <choices>
        <name>Minor</name>
        <choiceText>Minor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Minor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal_CT</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Significant</name>
        <choiceText>Significant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Significant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Type_of_Change_Request</name>
        <label>Type of Change Request</label>
        <locationX>361</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>Default Decision</defaultConnectorLabel>
        <rules>
            <name>Normal_Change_Request_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_CR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Normal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Normal_Change_Request</targetReference>
            </connector>
            <label>Normal Change Request</label>
        </rules>
        <rules>
            <name>DBI_TBI_Request_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_CR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DBI_TBI_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBI_TBI_Change_Request</targetReference>
            </connector>
            <label>DBI/TBI Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>BMCServiceDesk__Category__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientIDLookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FederationIdentifier</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Lan_ID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CR_Impact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>BMCServiceDesk__Impact__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CR_Urgency</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>BMCServiceDesk__Urgency__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Change Request Flow New</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Normal_CR</name>
        <label>Create Normal CR</label>
        <locationX>172</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__Back_Out_Plan__c</field>
            <value>
                <elementReference>Back_out_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Category__c</field>
            <value>
                <elementReference>Change_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Type__c</field>
            <value>
                <elementReference>Change_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKCategory__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKImpact__c</field>
            <value>
                <elementReference>CR_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKUrgency__c</field>
            <value>
                <elementReference>CR_Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Reason_for_Change__c</field>
            <value>
                <elementReference>Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Roll_Out_Plan__c</field>
            <value>
                <elementReference>Rollout_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Scheduled_End_Date__c</field>
            <value>
                <elementReference>Scheduled_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Scheduled_Start_Date__c</field>
            <value>
                <elementReference>Scheduled_Start</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Change_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Normal_CR_0</name>
        <label>Create Normal CR</label>
        <locationX>575</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__Back_Out_Plan__c</field>
            <value>
                <elementReference>Back_out_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Category__c</field>
            <value>
                <elementReference>Change_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Type__c</field>
            <value>
                <elementReference>Change_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKCategory__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKImpact__c</field>
            <value>
                <elementReference>CR_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKUrgency__c</field>
            <value>
                <elementReference>CR_Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Reason_for_Change__c</field>
            <value>
                <elementReference>Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Roll_Out_Plan__c</field>
            <value>
                <elementReference>Rollout_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Scheduled_End_Date__c</field>
            <value>
                <elementReference>Scheduled_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Scheduled_Start_Date__c</field>
            <value>
                <elementReference>Scheduled_Start</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Change_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>test</name>
        <label>test</label>
        <locationX>369</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Normal_CR</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Change_Request__c</object>
    </recordLookups>
    <screens>
        <name>DBI_TBI_Change_Request</name>
        <label>DBI/TBI Change Request</label>
        <locationX>576</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Normal_CR_0</targetReference>
        </connector>
        <fields>
            <name>First_Name_DBI</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>New_Change_Request</name>
        <label>New Change Request</label>
        <locationX>360</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_Change_Request</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>Which type of change request would you like to open today?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_CR</name>
            <choiceReferences>Normal</choiceReferences>
            <choiceReferences>DBI_TBI_Request</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Normal</defaultSelectedChoiceReference>
            <fieldText>Type of CR?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lan_ID</name>
            <dataType>String</dataType>
            <fieldText>Lan ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Normal_Change_Request</name>
        <label>Normal Change Request</label>
        <locationX>220</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Normal_CR</targetReference>
        </connector>
        <fields>
            <name>Header_Norma_CR</name>
            <fieldText>Please fill out the below fields to create a new change request.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Category_Drop_Down</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClientID</name>
            <choiceReferences>ClientIDLookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ClientID</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reasons</name>
            <fieldText>Reasons</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rollout_Plan</name>
            <fieldText>Rollout Plan</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Back_out_Plan</name>
            <fieldText>Back-out Plan</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Change_Type</name>
            <choiceReferences>Emergency</choiceReferences>
            <choiceReferences>Normal_CT</choiceReferences>
            <choiceReferences>Standard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Change_Category</name>
            <choiceReferences>Minor</choiceReferences>
            <choiceReferences>Major</choiceReferences>
            <choiceReferences>Significant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Impact</name>
            <choiceReferences>CR_Impact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Impact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Urgency</name>
            <choiceReferences>CR_Urgency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Urgency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scheduled_Start</name>
            <dataType>Date</dataType>
            <fieldText>Scheduled Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scheduled_End</name>
            <dataType>Date</dataType>
            <fieldText>Scheduled End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>New_Change_Request</startElementReference>
</Flow>
