flows/Create_New_kGen_Profile_Templates_for_ASA-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Create New kGen Profile Templates for ASA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New kGen Profile Templates for ASA</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_kGen_Fulfillment_Mapping_Graphics</name>
        <label>Create kGen Fulfillment Mapping - Profile Select</label>
        <locationX>88</locationX>
        <locationY>799</locationY>
        <assignRecordIdToReference>kGenFulfillmentMappingGraphics</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Field_Info_Impact</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKFulfillmentInputs__c</field>
            <value>
                <stringValue>a3UE00000008fv5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKProcessTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__ProcessVariable__c</field>
            <value>
                <stringValue>Task__c:taskDescription__c</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SRM_FulfillmentMappings__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_kGen_Fulfillment_Mapping_kGen_ID</name>
        <label>Create kGen Fulfillment Mapping - Profile Select</label>
        <locationX>89</locationX>
        <locationY>689</locationY>
        <assignRecordIdToReference>kGenFulfillmentMappingKgenID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_kGen_Fulfillment_Mapping_Graphics</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKFulfillmentInputs__c</field>
            <value>
                <stringValue>a3UE00000008fNw</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKProcessTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__ProcessVariable__c</field>
            <value>
                <stringValue>Task__c:taskDescription__c</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SRM_FulfillmentMappings__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_kGen_Fulfillment_Mapping_Mirror_Access</name>
        <label>Create kGen Fulfillment Mapping - Mirror Access</label>
        <locationX>89</locationX>
        <locationY>589</locationY>
        <assignRecordIdToReference>kGenFulfillmentMappingMirrorAccess</assignRecordIdToReference>
        <connector>
            <targetReference>Create_kGen_Fulfillment_Mapping_kGen_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKFulfillmentInputs__c</field>
            <value>
                <stringValue>a3UE00000008fNr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKProcessTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__ProcessVariable__c</field>
            <value>
                <stringValue>Task__c:taskDescription__c</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SRM_FulfillmentMappings__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_kGen_Fulfillment_Mapping_Profile_Select</name>
        <label>Create kGen Fulfillment Mapping - Profile Select</label>
        <locationX>84</locationX>
        <locationY>478</locationY>
        <assignRecordIdToReference>kGenFulfillmentMappingProfileSelect</assignRecordIdToReference>
        <connector>
            <targetReference>Create_kGen_Fulfillment_Mapping_Mirror_Access</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKFulfillmentInputs__c</field>
            <value>
                <stringValue>a3UE00000008fKO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKProcessTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__ProcessVariable__c</field>
            <value>
                <stringValue>Task__c:taskDescription__c</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SRM_FulfillmentMappings__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_kGen_Process_Control</name>
        <label>Create kGen Process Control</label>
        <locationX>83</locationX>
        <locationY>354</locationY>
        <assignRecordIdToReference>kGenProcessControlID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_kGen_Fulfillment_Mapping_Profile_Select</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKFulfillmentInputs__c</field>
            <value>
                <stringValue>a3UE00000008fKO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKProcessTemplate__c</field>
            <value>
                <elementReference>kGenProcessTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__InputValues__c</field>
            <value>
                <elementReference>kGenProfileBaseElementLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__StoredValues__c</field>
            <value>
                <elementReference>kGenProfileBaseElementLabel</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SRM_ProcessControl__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Kgen_Process_Template</name>
        <label>Create Kgen Process Template</label>
        <locationX>84</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>kGenProcessTemplateID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_kGen_Process_Control</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKRequestDefinition__c</field>
            <value>
                <stringValue>a3YE00000008TAu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SRM_ProcessTemplate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_kGen_Profile_Template</name>
        <label>Create kGen Profile Template</label>
        <locationX>83</locationX>
        <locationY>147</locationY>
        <assignRecordIdToReference>kGenTemplateID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Kgen_Process_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__Ignore_Execution_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Recurrence__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__allProfile__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__description__c</field>
            <value>
                <stringValue>To be used with the ASA form ONLY - Application&apos;s Profile Template</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__templateFor__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>kGenProfileBaseElementName</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Access_1</name>
        <label>Create Template Access - 1</label>
        <locationX>92</locationX>
        <locationY>1653</locationY>
        <assignRecordIdToReference>kGenTeamplateAccess1</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Access_2</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__templateId__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateAccess__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Access_2</name>
        <label>Create Template Access - 2</label>
        <locationX>91</locationX>
        <locationY>1759</locationY>
        <assignRecordIdToReference>kGenTemplateAccess2</assignRecordIdToReference>
        <inputAssignments>
            <field>BMCServiceDesk__templateId__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateAccess__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Field_Info_Approval</name>
        <label>Create Template Field Info - Impact</label>
        <locationX>90</locationX>
        <locationY>1440</locationY>
        <assignRecordIdToReference>kGenTemplateFieldInfoApproval</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Field_Info_ConfigItem</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKSYSTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FieldId__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldName__c</field>
            <value>
                <stringValue>Approval_Required__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldValue__c</field>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateFieldInfo__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Field_Info_Category</name>
        <label>Create Template Field Info - Impact</label>
        <locationX>88</locationX>
        <locationY>1230</locationY>
        <assignRecordIdToReference>kGenTemplateFieldInfoCategory</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Field_Info_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKSYSTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FieldId__c</field>
            <value>
                <stringValue>a1DE0000001X3dDMAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldName__c</field>
            <value>
                <stringValue>FKCategory__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldValue__c</field>
            <value>
                <stringValue>(ASA) Additional System Access</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateFieldInfo__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Field_Info_ConfigItem</name>
        <label>Create Template Field Info - Impact</label>
        <locationX>92</locationX>
        <locationY>1547</locationY>
        <assignRecordIdToReference>kGenTemplateFieldInfoConfigItem</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Access_1</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKSYSTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldName__c</field>
            <value>
                <stringValue>Configuration_Item__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldValue__c</field>
            <value>
                <elementReference>kGenProfileBaseElementName</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateFieldInfo__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Field_Info_Impact</name>
        <label>Create Template Field Info - Impact</label>
        <locationX>88</locationX>
        <locationY>903</locationY>
        <assignRecordIdToReference>kGenTemplateFieldInfoImpact</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Field_Info_Urgency</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKSYSTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FieldId__c</field>
            <value>
                <stringValue>a1PE0000000D8RlMAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldName__c</field>
            <value>
                <stringValue>FKImpact__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldValue__c</field>
            <value>
                <stringValue>LOW</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateFieldInfo__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Field_Info_Owner</name>
        <label>Create Template Field Info - Impact</label>
        <locationX>90</locationX>
        <locationY>1122</locationY>
        <assignRecordIdToReference>kGenTemplateFieldInfoOwner</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Field_Info_Category</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKSYSTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FieldId__c</field>
            <value>
                <stringValue>00GE0000001xfRd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldName__c</field>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldValue__c</field>
            <value>
                <stringValue>1300 - Logon/Access Admin</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateFieldInfo__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Field_Info_Status</name>
        <label>Create Template Field Info - Impact</label>
        <locationX>89</locationX>
        <locationY>1330</locationY>
        <assignRecordIdToReference>kGenTemplateFieldInfoStatus</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Field_Info_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKSYSTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FieldId__c</field>
            <value>
                <stringValue>a29E0000000PJnxIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldName__c</field>
            <value>
                <stringValue>FKStatus__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldValue__c</field>
            <value>
                <stringValue>PENDING APPROVAL</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateFieldInfo__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Field_Info_Urgency</name>
        <label>Create Template Field Info - Impact</label>
        <locationX>89</locationX>
        <locationY>1013</locationY>
        <assignRecordIdToReference>kGenTemplateFieldInfoUrgency</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Template_Field_Info_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__FKSYSTemplate__c</field>
            <value>
                <elementReference>kGenTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FieldId__c</field>
            <value>
                <stringValue>a2GE0000000H9qTMAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldName__c</field>
            <value>
                <stringValue>FKUrgency__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__fieldValue__c</field>
            <value>
                <stringValue>LOW</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__SYSTemplateFieldInfo__c</object>
    </recordCreates>
    <startElementReference>Create_kGen_Profile_Template</startElementReference>
    <variables>
        <name>kGenFulfillmentMappingGraphics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenFulfillmentMappingKgenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenFulfillmentMappingMirrorAccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenFulfillmentMappingProfileSelect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenProcessControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenProcessTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The ID of the newly created kGen Profile Base Element</description>
        <name>kGenProfileBaseElementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenProfileBaseElementLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenProfileBaseElementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenProfileNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>kGenTeamplateAccess1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateAccess2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateFieldInfoApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateFieldInfoCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateFieldInfoConfigItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateFieldInfoImpact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateFieldInfoOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateFieldInfoStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateFieldInfoUrgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kGenTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
