flows/Recall_Approval-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Recall_Email</name>
        <label>Send Recall Email</label>
        <locationX>266</locationX>
        <locationY>476</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>RecallSubmitted</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>recallapprovalincident@zr2dxubngq9w559grdh4mi95pneifn2asdaugc0dfa51qsash.e-cabtmai.na38.apex.salesforce.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>check_results</name>
        <label>check results</label>
        <locationX>55</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processinstance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recall_Approval</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <interviewLabel>Recall Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recall Approval</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_approval</name>
        <label>Find approval</label>
        <locationX>54</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_results</targetReference>
        </connector>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>processinstance</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Recall_Approval</name>
        <label>Recall Approval</label>
        <locationX>60</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Recall_Email</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>This will issue a recall for the record # {!RecordName}. Please provide comments to indicate why you are issuing this recall request. Once submitted, the approval will be recalled.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please provide the reason for recalling this request.</helpText>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>RecallSubmitted</name>
        <label>Recall Submitted</label>
        <locationX>444</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecallSubmittedText</name>
            <fieldText>The request to recall record #{!RecordName} has been submitted. Please allow up-to 2 minutes for the request to be processed.

You may close this screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Recall_Approval</startElementReference>
    <variables>
        <name>processinstance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
