flows/Recall_Approval-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Recall_Email</name>
        <label>Send Recall Email</label>
        <locationX>239</locationX>
        <locationY>279</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>RecallSubmitted</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>recallapprovalincident@zr2dxubngq9w559grdh4mi95pneifn2asdaugc0dfa51qsash.e-cabtmai.na38.apex.salesforce.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Recall Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recall Approval</label>
    <processType>Flow</processType>
    <screens>
        <name>Recall_Approval</name>
        <label>Recall Approval</label>
        <locationX>237</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Recall_Email</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>This will issue a recall for the record # {!RecordName}. Please provide comments to indicate why you are issuing this recall request. Once submitted, the approval will be recalled.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please provide the reason for recalling this request.</helpText>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>RecallSubmitted</name>
        <label>Recall Submitted</label>
        <locationX>238</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecallSubmittedText</name>
            <fieldText>The request to recall record #{!RecordName} has been submitted. Please allow up-to 2 minutes for the request to be processed.

You may close this screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Recall_Approval</startElementReference>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
