flows/Remove_Survey_from_Metrics_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_Survey_Found</name>
        <label>Is Survey Found</label>
        <locationX>268</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Update_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey Found</defaultConnectorLabel>
        <rules>
            <name>Survey_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Original_Request_0</targetReference>
            </connector>
            <label>Survey Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>Remove Survey from Metrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Survey from Metrics Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Related_Survey</name>
        <label>Find Related Survey</label>
        <locationX>260</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Survey_Found</targetReference>
        </connector>
        <filters>
            <field>BMCServiceDesk__FKIncident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentRecordID</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Survey__c</object>
        <outputAssignments>
            <assignToReference>SurveyRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncludedInMetrics</assignToReference>
            <field>Included_in_Metrics__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Original_Request</name>
        <label>Update Original Request</label>
        <locationX>127</locationX>
        <locationY>511</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalRequestRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__TemplateName__c</field>
            <value>
                <stringValue>Close Record - Remove Survey from Metrics</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Request_0</name>
        <label>Update Original Request</label>
        <locationX>376</locationX>
        <locationY>369</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalRequestRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BMCServiceDesk__TemplateName__c</field>
            <value>
                <stringValue>Close Record - Remove Survey from Metrics - Not Found</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Incident__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey</name>
        <label>Update Survey</label>
        <locationX>131</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Update_Original_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Included_in_Metrics__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Survey__c</object>
    </recordUpdates>
    <startElementReference>Find_Related_Survey</startElementReference>
    <variables>
        <name>IncidentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncludedInMetrics</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OriginalRequestRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
