flows/Shared_Mailbox_Create_ConfigItem-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>305</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Create_New_CI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfigItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Shared Mailbox: Create ConfigItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shared Mailbox: Create ConfigItem</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_CI</name>
        <label>Create New CI</label>
        <locationX>213</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>ConfigItem</assignRecordIdToReference>
        <inputAssignments>
            <field>BMCServiceDesk__CMDB_Class__c</field>
            <value>
                <stringValue>a1BE000000GzY6r</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__InstanceID__c</field>
            <value>
                <elementReference>SharedMailboxName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedMailboxName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Address__c</field>
            <value>
                <elementReference>SharedMailboxName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Communication__c</field>
            <value>
                <elementReference>SharedMailboxCommunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Owner_1__c</field>
            <value>
                <elementReference>SharedMailboxOwner1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Owner_2__c</field>
            <value>
                <elementReference>SharedMailboxOwner2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Reason__c</field>
            <value>
                <elementReference>SharedMailboxReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Recipients__c</field>
            <value>
                <elementReference>SharedMailboxRecipients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Review_Date__c</field>
            <value>
                <elementReference>SharedMailboxReviewDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Mailbox_Type__c</field>
            <value>
                <elementReference>SharedMailboxType</elementReference>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Does_Mailbox_already_exsist</name>
        <label>Does Mailbox already exsist</label>
        <locationX>307</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SharedMailboxName</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__BMC_BaseElement__c</object>
        <outputAssignments>
            <assignToReference>ConfigItem</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Does_Mailbox_already_exsist</startElementReference>
    <variables>
        <name>ConfigItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxCommunication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxOwner1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxOwner2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxRecipients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxReviewDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SharedMailboxType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
